.form-group {
    margin-bottom: 1rem;
    width: 60vw;
    margin: 2em .5em 2em 2em;
    border: 2px solid black;
}

@media (min-width: 768px){

.col-md-8 {

    max-width: 90%;
}
}

.media-heading{
    margin: 0px 10px;
    text-transform:lowercase;
}

.btn-primary{
    background-color: rgb(207, 49, 49);
    border: none;
}
